table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable thead tr th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable tbody tr td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
}
table.gridtable tbody tr th {
	border-width: 1px;
	text-align: left;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
